.toast {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff2020;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    z-index: 9999;
  }